<!DOCTYPE html>
<html ng-app="module.login">

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="../css/cover.css">
    <script src="/js/modules/module.login.js"></script>

</head>

<body ng-controller="controller.login as login">

    <h1 class="cover-heading login">Welcome back to the Resume Tracker!</h1>
    <form id="login" ng-submit="login.submit()">
        <input class="text" type="text" ng-model="login.email" placeholder="Email" />
        <input class="text" type="password" ng-model="login.password" placeholder="Password" />
        <br>
        <br>
        <button type="submit" class="btn btn-default">Login</button>
        <br>
        <div class="cover-heading">
            <h1>{{ login.message }}</h1>
        </div>
    </form>


    <h2>What job awaits you?</h2>


    <div>
        <div class="inner">
            <p>The Resume Tracker created by Thomas E. Cowern</p>
        </div>
    </div>



</body>

</html>
