<h3>
    User Information</h3>
<div>
    <h2 class="center">Below is your personal information. You can make changes as necessary</h2>
</div>
<br>
<div>
    <h1 class="update-success">{{ user.updateMessage }}</h1>
</div>
<div>
    <table width="100%">
        <tr>
            <td class="user">Username:</td>
            <td><input class="form-control user" ng-model="user.userData.username" disabled='true'></td>
        </tr>
        <tr>
            <td class="user">Email:</td>
            <td><input class="form-control user" ng-model="user.userData.email"></td>
        </tr>
        <tr>
            <td class="user">First Name:</td>
            <td><input class="form-control user" ng-model="user.userData.firstname"></td>
        </tr>
        <tr>
            <td class="user">Last Name</td>
            <td><input class="form-control user" ng-model="user.userData.lastname"></td>
        </tr>
        <tr>
            <td class="user">Birthday:</td>
            <td><input class="form-control user" ng-model="user.userData.birthdate"></td>
        </tr>
        <tr>
            <td class="user">Joined:</td>
            <td><input class="form-control user" ng-model="user.userData.created" disabled='true'></td>
        </tr>
    </table>
    <br>
    <button id="editButton" class="btn btn-primary" ng-click="user.updateUserData()">Submit Changes</button>
</div>
